<!-- BEGIN: Mobile Menu -->
<div class="mobile-menu md:hidden">
  <div class="mobile-menu-bar">
    <a href="javascript:toggleStyleMode();" id='mobile-style-mode-link'>
      <i data-feather="sun" id="mobile-style-mode-icon" class="w-6 h-6 text-white"></i>
    </a>
    <a href="../home" class="flex m-auto">
      <span class="xl:block text-white text-lg">${{ head.title }}$</span>
    </a>
    <a href="javascript:;" id="mobile-menu-toggler"> <i data-feather="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
  </div>
  <ul class="border-t border-theme-24 py-5 hidden">
    <li>
      <a href="../home/" class="menu">
        <div class="menu__icon"> <i data-feather="home"></i> </div>
        <div class="menu__title"> ${{ menu.rasoolsHome }}$ </div>
      </a>
    </li>
    <li>
      <a href="../vcard/" class="menu">
        <div class="menu__icon"> <i data-feather="briefcase"></i> </div>
        <div class="menu__title"> ${{ menu.vcard }}$ </div>
      </a>
    </li>
    <li>
      <a href="../abilities/" class="menu">
        <div class="menu__icon"> <i data-feather="zap"></i> </div>
        <div class="menu__title"> ${{ menu.abilities }}$ </div>
      </a>
    </li>
    <!-- <li>
      <a href="../collaboration/" class="menu">
        <div class="menu__icon"> <i data-feather="target"></i> </div>
        <div class="menu__title"> ${{ menu.collaboration }}$ </div>
      </a>
    </li> -->
    <li>
      <a href="../resume/" class="menu">
        <div class="menu__icon"> <i data-feather="file-text"></i> </div>
        <div class="menu__title"> ${{ menu.resume }}$ </div>
      </a>
    </li>
    <li>
      <a href="../courses/" class="menu">
        <div class="menu__icon"> <i data-feather="shopping-bag"></i> </div>
        <div class="menu__title"> ${{ menu.courses }}$ </div>
      </a>
    </li>
    <li>
      <a href="https://zarinp.al/rasoolhp" class="menu">
        <div class="menu__icon"> <i data-feather="credit-card"></i> </div>
        <div class="menu__title"> ${{ menu.pay }}$ </div>
      </a>
    </li>
    <li>
      <a href="javascript:langSwitcher()" class="menu">
        <div class="menu__icon"> <i data-feather="globe"></i> </div>
        <div class="menu__title"> ${{ menu.langSwitcherBtn }}$ </div>
      </a>
    </li>
  </ul>
</div>
<!-- END: Mobile Menu -->
<!-- BEGIN: Top Menu -->
<nav class="top-nav">
  <ul id="top-nav-menu">
    <li>
      <a href="../home/" class="top-menu">
        <div class="top-menu__icon"> <i data-feather="home"></i> </div>
        <div class="top-menu__title"> ${{ menu.rasoolsHome }}$ </div>
      </a>
    </li>
    <li>
      <a href="../vcard/" class="top-menu">
        <div class="top-menu__icon"> <i data-feather="briefcase"></i> </div>
        <div class="top-menu__title"> ${{ menu.vcard }}$ </div>
      </a>
    </li>
    <li>
      <a href="../abilities/" class="top-menu">
        <div class="top-menu__icon"> <i data-feather="zap"></i> </div>
        <div class="top-menu__title"> ${{ menu.abilities }}$ </div>
      </a>
    </li>
    <!-- <li>
      <a href="../collaboration/" class="top-menu">
        <div class="top-menu__icon"> <i data-feather="target"></i> </div>
        <div class="top-menu__title"> ${{ menu.collaboration }}$ </div>
      </a>
    </li> -->
    <li>
      <a href="../resume/" class="top-menu">
        <div class="top-menu__icon"> <i data-feather="file-text"></i> </div>
        <div class="top-menu__title"> ${{ menu.resume }}$ </div>
      </a>
    </li>
    <li>
      <a href="../courses/" class="top-menu">
        <div class="top-menu__icon"> <i data-feather="shopping-bag"></i> </div>
        <div class="top-menu__title"> ${{ menu.courses }}$ </div>
      </a>
    </li>
    <li>
      <a href="https://zarinp.al/rasoolhp" class="top-menu">
        <div class="top-menu__icon"> <i data-feather="credit-card"></i> </div>
        <div class="top-menu__title"> ${{ menu.pay }}$ </div>
      </a>
    </li>
    <li>
      <a href="javascript:langSwitcher()" class="top-menu">
        <div class="top-menu__icon"> <i data-feather="globe"></i> </div>
        <div class="top-menu__title"> ${{ menu.langSwitcherBtn }}$ </div>
      </a>
    </li>
    <li>
      <a href="javascript:toggleStyleMode()" class="top-menu" id='desktop-style-mode-link'>
        <div class="top-menu__icon"> <i data-feather="sun" id="desktop-style-mode-icon"></i> </div>
      </a>
    </li>
  </ul>
</nav>
<!-- END: Top Menu -->

<!-- select active menu for desktop -->
<script>
  // top-menu--active
  console.log(document.location);
  // console.log(document.location.protocol);
  loc_arr = String(document.location).split('/')
  las_loc = loc_arr[loc_arr.length - 2]
  console.log('las_loc', las_loc);
  lis = document.getElementById('top-nav-menu').children
  for (var i = 0; i < lis.length; i++) {
    a_tag = lis[i].firstElementChild
    a_arr = a_tag.href.split('/')
    console.log('menu link', a_arr[a_arr.length - 2]);
    if (a_arr[a_arr.length - 2] == las_loc) {
      a_tag.className += ' top-menu--active'
    } else if (las_loc == "" && a_arr[a_arr.length - 1] == "../home") {
      a_tag.className += ' top-menu--active'
    }
  }
</script>


<!-- langSwitcher -->
<script>
  function langSwitcher() {
    thisPageLoc = String(document.location)
    // console.log(thisPageLoc);
    if (thisPageLoc.includes("/en/")) {
      // console.log('en', thisPageLoc.replace("/en/", "/fa/"));
      window.location.replace(thisPageLoc.replace("/en/", "/fa/"))
    } else if (thisPageLoc.includes("/fa/")) {
      // console.log('fa', thisPageLoc.replace("/fa/", "/en/"));
      window.location.replace(thisPageLoc.replace("/fa/", "/en/"))
    }
  }
</script>